/* Base styles */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  background-color: #f7f7f7;
}

/* Flex container for the whole page */
.page-container {
  display: flex;
  flex-direction: column; /* Keep it stacked for all screen sizes */
  justify-content: center;
  align-items: center;
  height: 100%;
}

/* Flex container for the content */
.content-container {
  display: flex;
  flex-direction: column; /* Stack vertically on narrow screens */
  align-items: center;
  width: 100%;
  max-width: 960px; /* Maximum width of the content container */
  padding: 20px;
  box-sizing: border-box;
}

/* Title styling */
.title h1 {
  font-size: 2rem; /* Adjust the font size as needed */
  color: #333;
  margin-bottom: 20px; /* Reduced bottom margin for all screens */
  width: 100%; /* Title takes full width */
  text-align: center; /* Center title on all screens */
  word-wrap: break-word; /* Break the words to prevent overflow */
}

/* Adjust title for wide screens */
@media (min-width: 768px) {
  .title h1 {
    text-align: left; /* Align title to the left */
    max-width: 220px; /* Set a max-width to control when text should wrap */
  }

  /* Adjust content container for wide screens */
  .content-container {
    flex-direction: row; /* Side by side on wider screens */
    align-items: flex-start; /* Align items to the start */
    gap: 30px; /* Adjusted gap between the title and the form */
  }

  form {
    width: auto; /* Let form take the width of its content */
    margin-top: 0; /* Reset margin-top */
  }
}

/* Form styling */
form {
  width: 100%;
  max-width: 340px; /* Maximum width of form */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background: #ffffff;
  border-radius: 8px;
  padding: 20px;
  align-self: center; /* Align form to the center of its flex container */
}

/* Input styling */
input[type='password'],
input[type='submit'],
button {
  width: calc(100% - 5px); /* Adjust width to account for padding */
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

button[type='submit'] {
  background-color: #5cb85c;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button[type='submit']:hover {
  background-color: #4cae4c;
}
